/* ------------------------------------ Dashboard.js --------------------------------------*/

.dashboard-container {
  text-align: center;
}

.webcam-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  flex-direction: column;
  margin-top: 50px;
}
.webcam-screen {
  width: 100%;
  max-width: 400px;
  height: 260px;
  background-color: #212121;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.webcam-username-div {
  z-index: 1;
  color: #fae4dd;
}
.webcam-stream-div {
  position: absolute;
  z-index: 2; /* Place the top div above the username content */
}
.webcam-on-off-btn-div {
  margin-top: 25px;
}
.cam-on-off-btn {
  outline: none;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  background-color: #212121;
}

/* ------------------------------------ RecorderView.js --------------------------------------*/

.btn-start-stop-rec-div {
  margin-top: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
}
.btn-start-stop-rec {
  outline: none;
  height: 70px;
  width: 180px;
  padding: 10px;
  border: 1px solid rgb(36, 34, 34);
  border-radius: 4px;
  margin: 10px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.or-span {
  align-self: center;
  font-size: 20px;
}

/* RecordView PopUp Styling */

/* Styles for the modal overlay */
.popup-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styles for the modal content */

.popup-content {
  background-color: #e8e8e8;
  padding: 20px;
  border-radius: 8px;
  border: none;
  max-width: 600px;
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Styles for buttons */

.popup-btn {
  padding: 10px;
  border-radius: 8px;
  background: #d5f365;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
  margin: 13px;
  width: 260px;
  height: 50px;
  border: none;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-close{
    background: #fc685d;
}
.download-href{
    text-decoration: none;
    color: black;
}